<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png">
    <!-- <MonsterList /> -->
    <CombatTracker />
  </div>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';
import CombatTracker from '@/components/trackers/combat/CombatTracker.vue'; // @ is an alias to /src
import MonsterList from '@/components/lists/MonsterList.vue';

@Options({
  components: {
    CombatTracker,
    MonsterList
  },
})
export default class Home extends Vue {}
</script>
