<template>
  <div
    class="detail-view"
    :class="{
      [`${selectedObject.vracCategory}-detail`]: true
    }"
  >
    <DefaultDetail :item="selectedObject" />
  </div>
</template>

<script>
import vracList from '@/mixins/vracList';

import DefaultDetail from '@/components/DefaultDetail.vue';

export default {
  name: 'DetailView',
  components: {
    DefaultDetail
  },
  props: {
    index: {
      type: String,
      required: true,
    }
  },
  data () {
    return {
      inputSearch: '',
      sliceChunk: 10,
      sliceEnd: 10,
    };
  },
  mixins: [
    vracList,
  ],
  computed: {
    nIndex () {
      return parseInt(this.index, 10);
    },
    selectedObject () {
      const item = this.vracSearch[this.nIndex];
      return {
        ...item,
      };
    }
  }
}
</script>

<style lang="scss">
</style>
