<template>
  <div class="feat-view view">
    <FeatList class="feat-view-list" />
  </div>
</template>

<script>
import FeatList from '@/components/FeatList.vue'

export default {
  name: 'FeatView',
  components: {
    FeatList
  }
}
</script>

<style lang="scss">
</style>
