<template>
  <div class="sheet-view sheet">
    <CaracterSheet />
  </div>
</template>

<script>
// @ is an alias to /src
import CaracterSheet from '@/components/CaracterSheet/index.vue'

export default {
  name: 'SheetView',
  components: {
    CaracterSheet
  }
}
</script>

<style lang="scss">
.sheet-view {
  height: 100%;
}
</style>
