<template>
  <div class="spell-view view">
    <SpellList class="spell-view-list" />
  </div>
</template>

<script>
import SpellList from '@/components/SpellList.vue'

export default {
  name: 'SpellsView',
  components: {
    SpellList
  }
}
</script>

<style lang="scss">
</style>
