<template>
  <div class="vrac-view view">
    <VracList />
  </div>
</template>

<script>
// @ is an alias to /src
import VracList from '@/components/VracList.vue'

export default {
  name: 'VracView',
  components: {
    VracList
  }
}
</script>
