<template>
<div class="caracter-sheet-armor-class">
  <h2>Armor Class</h2>

  <div class="armor-class-informations">
  </div>
</div>
</template>

<script type="text/javascript">

export default {
  name: 'ArmorClass',
};
</script>

<style lang="scss">
.caracter-sheet-armor-class {
  grid-template-columns: repeat(17, 1fr);
  grid-template-rows: repeat(auto-fill, 1em);
  grid-auto-rows: 1em;
  column-gap: 0.85em;

  grid-column: 5 / 14;
  grid-row: span 16;
  border: 1px solid black;

  h2 {
    width: 100%;
    text-align: center;
    grid-row: span 4;
    padding: 0.5em 0;
    margin: 0;
    margin-bottom: 1em;
    background-color: blue;
    color: white;
  }
}
</style>
