<template>
  <div class="combat-tracker">
    <ul class="tracked-element-list">
      <li v-for="tracked in currentCombatTrackingSelection" class="tracked-element" :key="tracked.id">
        {{ tracked.name }}
        <span>{{ getSelectedScore(tracked.id) }}</span>
        <button @click="rollFor(tracked.id)">Roll !</button>
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
import { Vue } from 'vue-class-component';
import roll from '@/utils/dice'

export default class CombatTracker extends Vue {
  selectedScore: { [key: string]: number } = {}

  get currentCombatTrackingSelection(): CombatTrackingSelection {
    return this.$store.getters['tracking/combat/selection']
  }

  getSelectedScore(id: string): number {
    return this.selectedScore[id]
  }

  rollFor(id: string): void {
    this.selectedScore[id] = roll()
  }

  mounted(): void {
    this.$store.dispatch('tracking/combat/fetch')
    // this.$store.dispatch('tracking/combat/set', {
    //   id: 'default',
    //   data: [{"name":"test-id-1"},{"name":"test-id-2"},{"name":"test-id-3"}]
    // })
    this.$store.commit('tracking/combat/setSelectedId', 'default')
  }
}
</script>

<style lang="scss">
.combat-tracker {}
</style>
