<template>
  <div class="caracter-sheet-header">
    <div class="header-informations">
      <div class="input-wrapper">
        <label>
          <span class="input-wrapper__title">Logo</span>
          <textarea class="input-wrapper__input" type="text" />
        </label>
      </div>
    </div>
    <div class="header-informations">
      <div class="input-wrapper caracter-sheet-header__caracter-name">
        <label>
          <span class="input-wrapper__title">Caracter Name</span>
          <textarea class="input-wrapper__input" type="text" />
        </label>
      </div>

      <div class="input-wrapper caracter-sheet-header__player-name">
        <label>
          <span class="input-wrapper__title">Player Name</span>
          <textarea class="input-wrapper__input" type="text" />
        </label>
      </div>

      <div class="input-wrapper caracter-sheet-header__xp">
        <label>
          <span class="input-wrapper__title">Experience Point (XP)</span>
          <textarea class="input-wrapper__input" type="text" />
        </label>
      </div>
    </div>
    <div class="header-informations">
      <div class="input-wrapper">
        <label>
          <span class="input-wrapper__title">Ancestry and Heritage</span>
          <input class="input-wrapper__input" type="text" />
        </label>
      </div>

      <div class="input-wrapper">
        <label>
          <span class="input-wrapper__title">Background</span>
          <input class="input-wrapper__input" type="text" />
        </label>
      </div>

      <div class="input-wrapper">
        <label>
          <span class="input-wrapper__title">Class</span>
          <input class="input-wrapper__input" type="text" />
        </label>
      </div>

      <div class="input-wrapper input-wrapper--flex">
        <label>
          <span class="input-wrapper__title">Size</span>
          <input class="input-wrapper__input" type="text" />
        </label>

        <label>
          <span class="input-wrapper__title">Alignment</span>
          <input class="input-wrapper__input" type="text" />
        </label>

        <label>
          <span class="input-wrapper__title">Traits</span>
          <input class="input-wrapper__input" type="text" />
        </label>
      </div>

      <div class="input-wrapper">
        <label>
          <span class="input-wrapper__title">Deity</span>
          <input class="input-wrapper__input" type="text" />
        </label>
      </div>
    </div>
    <div class="header-informations">
      <div class="input-wrapper">
        <label>
          <span class="input-wrapper__title">Level</span>
          <input class="input-wrapper__input" type="number" min="0" max="20" value="0" />
        </label>
      </div>

      <div class="input-wrapper">
        <label>
          <span class="input-wrapper__title">Hero Point</span>
          <input class="input-wrapper__input" type="number" min="0" max="20" value="0" />
        </label>
      </div>
    </div>
  </div>
</template>

<script type="text/javascript">
export default {
  name: 'CaracterSheetHeader',
};
</script>

<style lang="scss">
.caracter-sheet-header {
  position: relative;
  display: grid;
  grid-template-columns: repeat(17, 1fr);
  grid-template-rows: repeat(auto-fill, 1em);
  grid-auto-rows: 1em;
  column-gap: 0.85em;

  grid-row: span 30;
  grid-column: 1 / 18;

  .header-informations {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(auto-fill, 1em);
    grid-auto-rows: 1em;
    grid-row: span 30;

    &:nth-child(1) {
      grid-column: 1 / 4;
    }

    &:nth-child(2) {
      grid-column: 4 / 10;
    }

    &:nth-child(3) {
      grid-column: 10 / 15;
      .input-wrapper {
        grid-row: span 6;
        label {
          height: calc(1em * 5);
        }
      }
    }

    &:nth-child(4) {
      grid-column: 15 / 18;
      .input-wrapper {
        grid-row: span 15;
        label {
          height: calc(1em * 4.5);
          font-size: 3.1em;
          input {
            text-align: center;
          }
        }
      }
    }
  }

  &__caracter-name {
    grid-row: span 16;

    label {
      height: calc(1em * 15);
    }
  }

  &__player-name {
    grid-row: span 7;

    label {
      height: calc(1em * 6);
    }
  }

  &__xp {
    grid-row: span 5;

    label {
      height: calc(1em * 6);
    }
  }
}
</style>
