<template>
  <div class="default-detail">
    <!-- TITLE -->
    <div class="title-container">
      <h1>{{ item.name }}</h1>
      <span class="title-container__lvl">{{ item.vracCategory.toUpperCase() }} {{ item.level }}</span>
      <span
        class="title-container__proof-read"
        :class="{
          'title-container__proof-read--true': item.has_been_manually_proofread
        }"
      ></span>
    </div>
    <!-- END TITLE -->

    <!-- TRAITS -->
    <ul v-if="item.traits && displayTraits" class="trait-container">
      <li class="trait-container__trait" v-for="trait in item.traits" :key="trait">
        <span>{{ trait }}</span>
      </li>
    </ul>
    <!-- END TRAITS -->

    <!-- SPECIFIC DESCRIPTIONS -->
    <div v-if="displayDescription" class="specific-description">
      <div v-if="item.prereqs || item.requirement" class="specific-description__item">
        <span v-if="item.requirement" class="specific-description__item__title">Requirements</span>
        <span v-if="item.requirement" class="specific-description__item__content">{{ item.requirement }}</span>
        <span v-if="item.prereqs" class="specific-description__item__title">Prerequisite</span>
        <span v-if="item.prereqs" class="specific-description__item__content">{{ item.prereqs.map(p => p.descr).join(',') }}</span>
      </div>
      <div v-if="item.traditions" class="specific-description__item">
        <span class="specific-description__item__title">Traditions</span>
        <span class="specific-description__item__content">{{ item.traditions.join(',') }}</span>
      </div>
      <div v-if="item.cast || item.actioncost_name" class="specific-description__item">
        <span class="specific-description__item__title">Cast</span>
        <span class="specific-description__item__content" v-html="item.cast || item.actioncost_name"></span>
      </div>
      <div v-if="item.trigger" class="specific-description__item">
        <span class="specific-description__item__title">Trigger</span>
        <span class="specific-description__item__content">{{ item.trigger }}</span>
      </div>
      <div v-if="item.range || item.targets || item.area" class="specific-description__item">
        <span v-if="item.range" class="specific-description__item__title">Range</span>
        <span v-if="item.range" class="specific-description__item__content">{{ item.range }}</span>
        <span v-if="item.area" class="specific-description__item__title">Area</span>
        <span v-if="item.area" class="specific-description__item__content">{{ item.area }}</span>
        <span v-if="item.targets" class="specific-description__item__title">Targets</span>
        <span v-if="item.targets" class="specific-description__item__content">{{ item.targets }}</span>
      </div>
      <div v-if="item.duration" class="specific-description__item">
        <span class="specific-description__item__title">Duration</span>
        <span class="specific-description__item__content">{{ item.duration }}</span>
      </div>
    </div>
    <!-- END SPECIFIC DESCRIPTIONS -->

    <!-- DESCRIPTION -->
    <div v-if="displayDescription" class="detail-description">
      <p v-html="item.descr"></p>
    </div>
    <!-- END DESCRIPTION -->

    <!-- SOURCE -->
    <div v-if="displayDescription" class="detail-source">
      <p v-html="item.source"></p>
    </div>
    <!-- END SOURCE -->
  </div>
</template>

<script>
export default {
  name: 'DefaultDetail',
  props: {
    item: {
      type: Object,
      required: true,
    },
    displayDescription: {
      type: Boolean,
      default: true,
    },
    displayTraits: {
      type: Boolean,
      default: true,
    }
  }
}
</script>

<style lang="scss">
</style>
