<template>
  <div class="feat-list">
    <div class="filter-bar">
      <div class="filter-bar__search">
        <h2>Quick filter by Name</h2>
        <input id="search-input" v-model="inputSearch" type="text" autocomplete="off" />
      </div>
      <div class="filter-bar__filters">
        <h2>Select filters</h2>
        <multiselect
            :options="searchData"
            v-model="selectedFilters"
            label="name"
            track-by="name"
            group-values="items"
            group-label="category"
            :close-on-select="false"
            :group-select="true"
            placeholder="Select filters"
            multiple
        ></multiselect>
      </div>
    </div>
    <ul class="feat-list__list list" @scroll="watchScroll">
      <li
        v-for="feat in featSearch"
        :key="feat.name"
      >
        <router-link :to="`/detail/${feat.list_index}`">
          <DefaultDetail :item="feat" />
        </router-link>
      </li>
    </ul>
  </div>
</template>

<script>
import Multiselect from 'vue-multiselect';
import DefaultDetail from '@/components/DefaultDetail.vue'
import vracList from '@/mixins/vracList';

export default {
  name: 'FeatList',
  components: {
    Multiselect,
    DefaultDetail,
  },
  mixins: [
    vracList,
  ],
  data () {
    return {
      inputSearch: '',
      selectedFilters: [],
      sliceEnd: 10,
      sliceChunk: 10,
    };
  },
  computed: {
    featsData () {
      const nSearch = this.vracSearch.filter(i => i.vracCategory === 'feat');
      return this.inputSearch.trim() === '' && this.selectedFilters.length === 0 ? nSearch.slice(0, this.sliceEnd) : nSearch;
    },
    allTraits () {
      return this.featsData.reduce((acc, currentValue) => {
        const cTraits = currentValue.traits || [];
        cTraits.forEach((c) => {
          if (!acc.includes(c)) acc.push(c)
        });
        return acc;
      }, []);
    },
    allActionCosts () {
      return this.featsData.reduce((acc, currentValue) => {
        if (currentValue.actioncost !== null && !acc.includes(currentValue.actioncost)) acc.push(currentValue.actioncost)
        return acc;
      }, ['No Action Cost']);
    },
    searchData () {
      const featTraits = {
        category: 'Feat Traits',
        items: this.allTraits.map(s => ({ name: s, category: 'Feat Traits' })),
      };
      const featActionCost = {
        category: 'Feat Action Cost',
        items: this.allActionCosts.map(s => ({
          name: s,
          category: 'Feat Action Cost'
        })),
      };
      const featLevels = {
        category: 'Feat Level',
        items: [...Array(21).keys()].map(s => ({ name: s, category: 'Feat Level' }))
      };
      return [
        featTraits,
        featActionCost,
        featLevels,
      ];
    },
    featSearch () {
      return this.featsData
        .filter((item) => {
          if (this.inputSearch.trim() === '') return true;
          return item.name.toLowerCase().includes(this.inputSearch.toLowerCase());
        })
        .filter((item) => {
          if (this.selectedFilters.length === 0) return true;
          const isOkay = [];
          const levelFilters = this.selectedFilters.filter(s => s.category === 'Feat Level');
          const actionCostFilters = this.selectedFilters.filter(s => s.category === 'Feat Action Cost');
          const traitsFilters = this.selectedFilters.filter(s => s.category === 'Feat Traits');

          levelFilters.forEach((filter) => {
            if (parseInt(filter.name, 10) === item.level) isOkay.push(true)
          });
          actionCostFilters.forEach((filter) => {
            if (item.actioncost !== null && item.actioncost === filter.name) isOkay.push(true)
            else if (filter.name === 'No Action Cost' && item.actioncost === null) isOkay.push(true)
          });
          traitsFilters.forEach((filter) => {
            if (item.traits !== null && item.traits.includes(filter.name)) isOkay.push(true)
          });

          return isOkay.length === this.selectedFilters.length;
        })
    }
  }
};
</script>
<style lang="scss">
</style>
