<template>
  <div class="spell-list">
    <div class="filter-bar">
      <div class="filter-bar__search">
        <h2>Quick filter by Name</h2>
        <input id="search-input" v-model="inputSearch" type="text" autocomplete="off" />
      </div>
      <div class="filter-bar__filters">
        <h2>Select filters</h2>
        <multiselect
            :options="searchData"
            v-model="selectedFilters"
            label="name"
            track-by="name"
            group-values="items"
            group-label="category"
            :close-on-select="false"
            :group-select="true"
            placeholder="Select filters"
            multiple
        ></multiselect>
      </div>
    </div>
    <ul class="spell-list__list list" @scroll="watchScroll">
      <li
        v-for="spell in spellSearch"
        :key="spell.name"
      >
        <router-link :to="`/detail/${spell.list_index}`">
          <DefaultDetail :item="spell" />
        </router-link>
      </li>
    </ul>
  </div>
</template>

<script>
import Multiselect from 'vue-multiselect';
import spellsData from '../../../datas/spells.yaml';
import DefaultDetail from '@/components/DefaultDetail.vue';
import vracList from '@/mixins/vracList';

export default {
  name: 'SpellList',
  components: {
    Multiselect,
    DefaultDetail,
  },
  data () {
    return {
      inputSearch: '',
      selectedFilters: [],
      sliceEnd: 10,
      sliceChunk: 10,
    };
  },
  mixins: [
    vracList
  ],
  computed: {
    spellsData () {
      const nSearch = this.vracSearch.filter(i => i.vracCategory === 'spell');
      return this.inputSearch.trim() === '' && this.selectedFilters.length === 0 ? nSearch.slice(0, this.sliceEnd) : nSearch;
    },
    searchData () {
      const spellComponents = {
        category: 'Spell Components',
        items: spellsData.spellcomponent.map(s => ({ name: s, category: 'Spell Components' })),
      };
      const spellSchools = {
        category: 'Spell Schools',
        items: spellsData.spellschool.map(s => ({
          ...s,
          category: 'Spell Schools'
        })),
      };
      const spellTraditions = {
        category: 'Spell Traditions',
        items: [
          ...spellsData.spelltradition.map(s => ({ name: s, category: 'Spell Traditions' })),
          {
            name: 'No Tradition',
            category: 'Spell Traditions'
          }
        ],
      };
      const spellTypes = {
        category: 'Spell Types',
        items: spellsData.spelltype.map(s => ({ name: s, category: 'Spell Types' })),
      };
      const spellLevels = {
        category: 'Spell Level',
        items: [...Array(10).keys()].map(s => ({ name: s + 1, category: 'Spell Level' }))
      };
      return [
        spellComponents,
        spellSchools,
        spellTraditions,
        spellTypes,
        spellLevels,
      ];
    },
    spellSearch () {
      return this.spellsData
        .filter((item) => {
          if (this.inputSearch.trim() === '') return true;
          return item.name.toLowerCase().includes(this.inputSearch.toLowerCase());
        })
        .filter((item) => {
          if (this.selectedFilters.length === 0) return true;
          const isOkay = [];
          const levelFilters = this.selectedFilters.filter(s => s.category === 'Spell Level');
          const typeFilters = this.selectedFilters.filter(s => s.category === 'Spell Types');
          const traditionFilters = this.selectedFilters.filter(s => s.category === 'Spell Traditions');
          const schoolFilters = this.selectedFilters.filter(s => s.category === 'Spell Schools');
          const componentFilters = this.selectedFilters.filter(s => s.category === 'Spell Components');

          levelFilters.forEach((filter) => {
            if (parseInt(filter.name, 10) === item.level) isOkay.push(true)
          });
          typeFilters.forEach((filter) => {
            if (filter.name === item.type) isOkay.push(true)
          });
          traditionFilters.forEach((filter) => {
            if (item.traditions !== null && item.traditions.includes(filter.name)) isOkay.push(true)
            else if (filter.name === 'No Tradition' && item.traditions === null) isOkay.push(true)
          });
          schoolFilters.forEach((filter) => {
            if (item.traits !== null && item.traits.includes(filter.name)) isOkay.push(true)
          });
          componentFilters.forEach((filter) => {
            if (item.components !== null && item.components.includes(filter.name)) isOkay.push(true)
          });

          return isOkay.length === this.selectedFilters.length;
        })
    }
  }
};
</script>
<style lang="scss">
</style>
