<template>
  <div class="vrac-list">
    <div class="filter-bar">
      <div class="filter-bar__search">
        <h2>Quick filter by Name</h2>
        <input id="search-input" v-model="inputSearch" type="text" autocomplete="off" />
      </div>
      <div class="filter-bar__filters">
        <h2>Select filters</h2>
        <multiselect
          :options="searchData"
          v-model="selectedFilters"
          label="name"
          track-by="name"
          group-values="items"
          group-label="category"
          :close-on-select="true"
          :group-select="true"
          placeholder="Select filters"
          multiple
        ></multiselect>
      </div>
    </div>
    <ul class="vrac-list__list list" @scroll="watchScroll">
      <li
        v-for="item in totalSearch"
        :key="`${item.name} - ${item.vracCategory}`"
        :class="{
          [`${item.vracCategory}-list-item`]: true,
        }"
        class="list-item"
      >
        <router-link :to="`/detail/${item.list_index}`">
          <DefaultDetail :display-description="false" :display-traits="false" :item="item" />
        </router-link>
      </li>
    </ul>
  </div>
</template>

<script>
import Multiselect from 'vue-multiselect';
import vracList from '@/mixins/vracList';

import DefaultDetail from '@/components/DefaultDetail.vue';

export default {
  name: 'VracList',
  components: {
    Multiselect,
    DefaultDetail,
  },
  data () {
    return {
      inputSearch: '',
      selectedFilters: [],
      sliceEnd: 20,
      sliceChunk: 20,
    };
  },
  mixins: [vracList],
  computed: {
    searchData () {
      const itemCategories = {
        category: 'Categories',
        items: this.allCategories.map((s) => ({
          name: s,
          category: 'Categories',
        })),
      };
      const itemLevels = {
        category: 'Levels',
        items: [...Array(21).keys()].map((s) => ({
          name: s,
          category: 'Levels',
        })),
      };
      return [itemCategories, itemLevels];
    },
    totalSearch () {
      const nSearch = this.vracSearch
        .filter((item) => {
          if (this.inputSearch.trim() === '') return true;
          return item.name.toLowerCase().includes(this.inputSearch.toLowerCase());
        })
        .filter((item) => {
          if (this.selectedFilters.length === 0) return true;
          const isOkay = [];
          const levelFilters = this.selectedFilters.filter(
            (s) => s.category === 'Levels'
          );
          const categoriesFilters = this.selectedFilters.filter(
            (s) => s.category === 'Categories'
          );

          levelFilters.forEach((filter) => {
            if (parseInt(filter.name, 10) === item.level) isOkay.push(true);
          });
          categoriesFilters.forEach((filter) => {
            if (item.vracCategory.toLowerCase() === filter.name.toLowerCase()) isOkay.push(true);
          });

          return isOkay.length > 0;
        });
      return this.inputSearch.trim() === '' ? nSearch.slice(0, this.sliceEnd) : nSearch;
    },
  }
};
</script>
<style lang="scss">
</style>
