<template>
  <ul class="monster-list">
    <li class="monster-list__element" v-for="monster in monsters" :key="monster.name">
      {{monster.name}}
    </li>
  </ul>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';

@Options({
  props: {
    monsterSelection: Array
  }
})
export default class MonsterList extends Vue {

  get monsters(): Monster[] {
    return this.$store.getters['monsters/data']
  }
}
</script>

<style lang="scss">
.monster-list {
  position: relative;
  overflow: auto;
  &__element {
    margin-top: 1rem;
    margin-left: 1rem;
    text-align: left;
  }
}
</style>
