<template>
  <div class="caracter-sheet">
    <Header></Header>
    <AbilityScore></AbilityScore>
    <ArmorClass></ArmorClass>
    <SavingThrows></SavingThrows>
  </div>
</template>

<script type="text/javascript">
import Header from './Header';
import AbilityScore from './AbilityScore';
import ArmorClass from './ArmorClass';
import SavingThrows from './SavingThrows';

export default {
  name: 'CaracterSheet',
  components: {
    Header,
    AbilityScore,
    ArmorClass,
    SavingThrows,
  },
};
</script>

<style lang="scss">
.caracter-sheet {
  position: relative;
  height: 100%;
  display: grid;
  width: 1440px;
  margin: 0 auto;
  grid-template-columns: repeat(17, 1fr);
  grid-template-rows: repeat(auto-fill, 1em);
  grid-auto-rows: 1em;
  column-gap: 0.85em;
}
</style>
