<template>
  <div class="caracter-sheet-ability-score">
    <h2>Ability Scores</h2>

    <div class="ability-score-informations">
      <div class="ability-score-informations__line">
        <div class="input-wrapper ability-score-modifier">
          <label>
            <span class="ability-score-modifier__title"><span>STR</span><em>modifiers</em></span>
            <input class="ability-score-modifier__input" type="number" step="2" min="0" max="100" value="0" disabled />
          </label>
        </div>
        <div class="input-wrapper ability-score-value">
          <label>
            <span class="ability-score-value__title"><span>Strength</span><em>score</em></span>
            <input class="ability-score-value__input" type="number" step="2" min="0" max="100" value="10" />
          </label>
        </div>
      </div>

      <div class="ability-score-informations__line">
        <div class="input-wrapper ability-score-modifier">
          <label>
            <span class="ability-score-modifier__title"><span>DEX</span><em>modifiers</em></span>
            <input class="ability-score-modifier__input" type="number" step="2" min="0" max="100" value="0" disabled />
          </label>
        </div>
        <div class="input-wrapper ability-score-value">
          <label>
            <span class="ability-score-value__title"><span>Dexterity</span><em>score</em></span>
            <input class="ability-score-value__input" type="number" step="2" min="0" max="100" value="10" />
          </label>
        </div>
      </div>

      <div class="ability-score-informations__line">
        <div class="input-wrapper ability-score-modifier">
          <label>
            <span class="ability-score-modifier__title"><span>CON</span><em>modifiers</em></span>
            <input class="ability-score-modifier__input" type="number" step="2" min="0" max="100" value="0" disabled />
          </label>
        </div>
        <div class="input-wrapper ability-score-value">
          <label>
            <span class="ability-score-value__title"><span>Constitution</span><em>score</em></span>
            <input class="ability-score-value__input" type="number" step="2" min="0" max="100" value="10" />
          </label>
        </div>
      </div>

      <div class="ability-score-informations__line">
        <div class="input-wrapper ability-score-modifier">
          <label>
            <span class="ability-score-modifier__title"><span>INT</span><em>modifiers</em></span>
            <input class="ability-score-modifier__input" type="number" step="2" min="0" max="100" value="0" disabled />
          </label>
        </div>
        <div class="input-wrapper ability-score-value">
          <label>
            <span class="ability-score-value__title"><span>Intelligence</span><em>score</em></span>
            <input class="ability-score-value__input" type="number" step="2" min="0" max="100" value="10" />
          </label>
        </div>
      </div>

      <div class="ability-score-informations__line">
        <div class="input-wrapper ability-score-modifier">
          <label>
            <span class="ability-score-modifier__title"><span>WIS</span><em>modifiers</em></span>
            <input class="ability-score-modifier__input" type="number" step="2" min="0" max="100" value="0" disabled />
          </label>
        </div>
        <div class="input-wrapper ability-score-value">
          <label>
            <span class="ability-score-value__title"><span>Wisdom</span><em>score</em></span>
            <input class="ability-score-value__input" type="number" step="2" min="0" max="100" value="10" />
          </label>
        </div>
      </div>

      <div class="ability-score-informations__line">
        <div class="input-wrapper ability-score-modifier">
          <label>
            <span class="ability-score-modifier__title"><span>CHA</span><em>modifiers</em></span>
            <input class="ability-score-modifier__input" type="number" step="2" min="0" max="100" value="0" disabled />
          </label>
        </div>
        <div class="input-wrapper ability-score-value">
          <label>
            <span class="ability-score-value__title"><span>Charisma</span><em>score</em></span>
            <input class="ability-score-value__input" type="number" step="2" min="0" max="100" value="10" />
          </label>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'CaracterSheetAbilityScore',
}
</script>

<style lang="scss">
.caracter-sheet-ability-score {
  grid-column: 1 / 5;
  grid-row: span 41;
  border: 1px solid black;

  h2 {
    width: 100%;
    text-align: center;
    grid-row: span 4;
    padding: 0.5em 0;
    margin: 0;
    margin-bottom: 1em;
    background-color: blue;
    color: white;
  }
}

.ability-score-informations {
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(auto-fill, 1em);
  grid-auto-rows: 1em;
  column-gap: 0.85em;
  grid-row: span 40;

  &__line {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(auto-fill, 1em);
    grid-auto-rows: 1em;
    column-gap: 0.85em;

    grid-column: 2 / 12;
    grid-row: span 6;
    row-gap: 1em;
  }
}

.ability-score-modifier {
  grid-column: 1 / span 5;
  grid-row: span 3;

  label {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(auto-fill, 1em);
    grid-auto-rows: 1em;
    column-gap: 0.85em;

    span, input {
      position: relative;
    }
    > span {
      width: 100%;
      display: flex;
      flex-direction: column;
      text-transform: uppercase;
      grid-column: 5 / 8;
      grid-row: 1 / 6;
      span {
        font-size: 1.5em;
        font-weight: bold;
        order: 0;
      }
      em {
        order: 1;
      }
    }
    input {
      grid-column: 1 / 5;
      grid-row: 1 / 6;
      padding: 0;
      margin: 0;
      text-align: center;
      font-size: 2em;
      order: 0;

      &[disabled] {
        background-color: initial;
        color: black;
      }
    }

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type=number] {
      -moz-appearance: textfield;
    }
  }
}

.ability-score-value {
  grid-column: 9 / span 7;
  grid-row: span 3;

  label {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(auto-fill, 1em);
    grid-auto-rows: 1em;
    column-gap: 0.85em;

    grid-column: 1 / 8;
    grid-row: span 5;

    span, input {
      position: relative;
    }
    > span {
      width: 100%;
      display: flex;
      grid-column: 1 / 5;
      flex-direction: column;
      text-transform: uppercase;
      align-items: flex-end;
      justify-content: flex-start;
      text-align: right;
      span {
        font-size: 1.5em;
        font-weight: bold;
        order: 0;
      }
      em {
        order: 1;
      }
    }
    input {
      grid-column: 6 / 9;
      grid-row: 1 / 6;
      width: 55px;
      padding: 0;
      margin: 0;
      text-align: center;
      font-size: 2em;
    }
  }
}
</style>
