<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Vrac</router-link> |
      <router-link to="/spells">Spells</router-link> |
      <router-link to="/feats">Feats</router-link> |
      <router-link to="/sheet">Caracter Sheet</router-link>
    </div>
    <router-view/>
  </div>
</template>

<style lang="scss">
html {
  font-size: 62.5%; // em = 10px;

  input, textarea {
    max-width: 100%;
    font-size: 1.4em;
    line-height: 1em;
    padding: .85em 1em;
    margin: 0;
    border: 1px solid black;

    &::placeholder {
      padding: 0;
      margin: 0;
    }
  }

  * {
    box-sizing: border-box;
  }
}

#app {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

.input-wrapper {
  &--flex {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    label:not(:last-child) {
      margin-right: 0.85em;
    }
  }

  label  {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;

    > span {
      position: absolute;
      top: .85em;
      left: 1em;
    }
    input, textarea {
      font-family: Arial, Helvetica, sans-serif;
    }
    input {
      width: 100%;
      height: 100%;
      border: 1px solid black;

      padding-top: calc(.7em * 3);
      padding-left: 0.7em;
    }
    textarea {
      width: 100%;
      height: 100%;
      border: 1px solid black;

      padding-top: calc(.7em * 3);
      padding-left: 0.7em;
      resize: none;
    }
  }
}

.list {
  max-height: 76vh;
  overflow: auto;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  padding-right: 0.5em;

  a {
    color: inherit;
    text-decoration: inherit;
    &:visited {
      color: darkslategray;
    }
  }
}

.view, body {
  overflow: hidden;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}

.filter-bar {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: stretch;

  &__search {
    width: 25%;
  }

  &__filters {
    width: 100%;
  }
}

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  border-bottom: 2px solid #000000;
  cursor: pointer;

  h1 {
    margin: 0.2em 0em;
    transition: font-size 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  &__lvl {
    font-size: 21px;
    font-weight: bold;
    margin-left: auto;
  }

  &__proof-read {
    position: relative;
    width: 24px;
    height: 24px;
    margin-left: 0.6em;

    &:after {
      font-size: 28px;
      position: absolute;
      content: ' \2612';
      left: 0;
      top: 0;
    }

    &--true {
      &:after {
        content: ' \2611';
      }
    }
  }
}

.vrac-list__list, .spell-list__list, .feat-list__list {
  .title-container {
    &:hover {
      h1 {
        font-size: 34px;
      }
    }
  }
}

.detail-category {
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  color: grey;
}

.detail-source {
  font-weight: normal;
  font-style: italic;
  color: grey;
}

.trait-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 0.5em;

  &__trait {
    padding: 0.5em 0.9em;
    background-color: #5e0000;
    border-left: 6px solid #d9c484;
    border-right: 6px solid #d9c484;
    border-top: 2px solid #d9c484;
    border-bottom: 2px solid #d9c484;
    color: white;
    text-transform: uppercase;
    font-weight: bold;

    &:not(:first-child) {
      margin-left: 0.3em;
    }

    span {
      vertical-align: sub;
    }
  }
}

.specific-description {
  margin-top: 0.6em;
  padding-bottom: 0.4em;
  border-bottom: 1px solid #000000;

  &__item {
    margin-top: 0.2em;

    &__title {
      font-weight: bold;
    }
    &__content {
      margin-left: 0.4em;
      margin-right: 0.4em;
    }
  }
}

.action-icon-container {
  position: relative;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: 0.2em;
  padding-bottom: 0.1em;

  &--one-item {
    width: 20px
  }

  &--two-items {
    width: 35px
  }

  &--three-items {
    width: 40px
  }
}

.action-icon-1 {
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #000000;
  border: 2px solid #ffffff;
  top: -14px;
  left: 0;
  transform-origin: center;
  transform: rotate(45deg);
  z-index: 3;

  &:before {
    position: absolute;
    content: ' ';
    width: 6px;
    height: 6px;
    background-color: #000000;
    border: 2px solid #ffffff;
    top: 7px;
    left: -2px;
    transform-origin: center;
  }
}

.action-icon-free {
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: #ffffff;
  border: 2px solid #000000;
  top: -12px;
  left: 0;
  transform-origin: center;
  transform: rotate(45deg);
  z-index: 3;

  &:before {
    position: absolute;
    content: ' ';
    width: 6px;
    height: 6px;
    background-color: #ffffff;
    border: 2px solid #000000;
    top: 6px;
    left: -1px;
    transform-origin: center;
  }
}

.action-icon-reaction {
  position: absolute;
  width: 16px;
  height: 16px;
  top: -14px;
  left: 0;
  z-index: 3;

  &:after {
    position: absolute;
    content: ' \21BB';
    font-size: 24px;
    top: -8px;
    left: 0px;
    transform-origin: center;
    transform: rotate(-110deg);
  }
}

.action-icon-2 {
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #000000;
  border: 2px solid #ffffff;
  top: -12px;
  left: 16px;
  transform-origin: center;
  transform: rotate(45deg);
  z-index: 2;
}

.action-icon-3 {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #000000;
  top: -8px;
  left: 32px;
  transform-origin: center;
  transform: rotate(45deg);
  z-index: 1;
}
</style>
